{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/tableau.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <h3 class="text-center mt-4"><strong>Gérer les lieux</strong></h3>
        <div class="container mt-3 w-75">
            <div class="row mt-2">
                <div class="col">
                    <label for="nom-filter" class="mr-2">Filtrer par nom :</label>
                    <input type="text" id="nom-filter" class="form-control" placeholder="Tapez un nom / ville ou code postal de lieux..." style="max-width: 340px;">
                </div>
            </div>
        </div>
        <div class="container mt-3 w-75">
        {% if lieux %}
            <div class="table-container table-responsive mt-3">
                <table class="table table-striped table-bordered ">
                    <thead class="table-dark">
                    <tr>
                        <th class="w-25">Nom</th>
                        <th class="w-25">Ville</th>
                        <th class="w-25">Code Postal</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody id="lieux-list">
                    {% for lieu in lieux %}
                        <tr
                                data-nom="{{ lieu.nom }}"
                                data-ville="{{ lieu.ville.nom }}"
                                data-codepostal="{{ lieu.ville.codePostal }}"
                                data-lieu-id="{{ lieu.id }}"
                        >
                            <td>{{ lieu.nom }}</td>
                            <td>{{ lieu.ville.nom }}</td>
                            <td>{{ lieu.ville.codePostal }}</td>
                            <td>
                                <a class="btn btn-outline-secondary" href="{{ path('lieux_edit', {'id': lieu.id}) }}" role="button">Modifier</a>
                                <a class="btn btn-outline-secondary" href="{{ path('lieux_delete', {'id': lieu.id}) }}" role="button" onclick="return confirm('Es-tu sûr de vouloir supprimer cette lieu ?');">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>Pas de lieus</p>
        {% endif %}
        </div>
        <div class="container mt-3 w-75">
            <a class="btn btn-outline-secondary mt-3" href="{{ path('lieux_create') }}" role="button">Ajouter</a>
        </div>
    </div>
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/lieux.js') }}" defer></script>
    {% endblock %}
{% endblock %}
