{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('styles/tableau.css') }}">
{% endblock %}

{% block body %}
    <div class="container">

        <div class="row mt-2">
            <div class="col">
                <label for="nom-filter" class="mr-2">Filtrer par nom :</label>
                <input type="text" id="nom-filter" class="form-control" placeholder="Tapez un nom de ville..." style="max-width: 340px;">
            </div>
        </div>
        {% if villes %}
            <div class="table-container table-responsive mt-3">
                <table class="table table-striped table-bordered">
                    <thead class="table-dark">
                    <tr>
                        <th>Nom</th>
                        <th>Code Postal</th>
                        <th>Lieux associés</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody id="villes-list">
                    {% for ville in villes %}

                        <tr data-nom="{{ ville.nom }}" data-ville-id="{{ ville.id }}">
                            <td>{{ ville.nom }}</td>
                            <td>{{ ville.codePostal }}</td>
                            <td>
                                <ol class="list-group ">
                                    {% for lieu in ville.lieux %}
                                        <a href="{{ path('lieux_edit', {'id': lieu.id}) }}" class="text-decoration-none text-dark">
                                            <li class="list-group-item">
                                                    {{ lieu.nom }}
                                            </li>
                                        </a>

                                    {% endfor %}
                                </ol>
                            </td>
                            <td>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a class="btn btn-outline-secondary" href="{{ path('villes_edit', {'id': ville.id}) }}" role="button">Modifier</a>
                                    <a class="btn btn-outline-secondary" href="{{ path('villes_delete', {'id': ville.id}) }}" role="button" onclick="return confirm('Es-tu sûr de vouloir supprimer cette ville ?');">Supprimer</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <p>Pas de villes</p>
        {% endif %}

        <a class="btn btn-outline-secondary mt-3" href="{{ path('villes_add') }}" role="button">Ajouter</a>

    </div>
    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/villes.js') }}" defer></script>
    {% endblock %}
{% endblock %}
